{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- home CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- 국기와 함께 국가 선택 -->
    <!-- flag-icon-css 스타일 추가 -->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
    <!-- favicon.ico 추가 (optional) -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>NextBridge</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="container my-3">
    <div class="row">

        <div class="col-sm-12 col-md-3 col-lg-2 p-2">
            {% include "sidebar.html" %}
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 p-2">
            <div id="content" class="border-top border-secondary">
                <div class="content_block p-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트(삭제) Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
